// colors
$body-color: #0e3434;
$side-bars-color: #00b6b6;
$aquarium-color: rgb(0, 255, 255);
$stats-background: #2f5a5a;

//dimensions
$side-bars: 300px;
$bowl-top-bottom: 40px;

// fonts
$font: 'Montserrat', sans-serif;
$font-color: seashell;

$font-large: 70px;
$font-medium: 22px;
$font-small: 16px;

$spacing-large: 6px;
$spacing-medium: 3px;
